@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --primary-font: "Manrope", sans-serif;
  --other-background-color: #f6f5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--primary-font); */

  box-sizing: border-box;
}
body {
  font-family: var(--font-proxima-nova), sans-serif;
  /* height: 2000px; */
}
/* media xsm */
@media screen and (max-width: 350px) {
  .header-category {
    display: none;
  }
}
/* media mobile (main slider custmization slider */
@media screen and (max-width: 768px) {
  .mainSlider .slick-dots li button::before {
    font-size: 10px !important;
    color: rgb(255, 255, 255) !important;
  }
}
.mainSlider .slick-dots {
  bottom: 17px !important;
}
.mainSlider .slick-dots li button::before {
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 0;
  color: rgb(255, 255, 255);
}

.mainSlider .slick-slider {
  z-index: 0;
}
.mainSlider-custom-dots {
  display: flex !important;
  justify-content: center;
  gap: 1px;
}

.mainSlider-custom-dot {
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.slick-active .mainSlider-custom-dot {
  background-color: #ff6f00; /* Active dot color */
}
/* end style main slider  */
