@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #fff;
  --primary-font: "Manrope", sans-serif;
  --other-background-color: #f6f5fa;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: var(--primary-font); */

  box-sizing: border-box;
}
body{
  font-family: var(--font-proxima-nova), sans-serif;
  height: 2000px;

}

.gg{
  /* height: 100vh; */
  transition:  1s;
  visibility: visible;
  z-index: 0;
}

.ggg{
  /* height: 0px; */
  visibility: hidden;
  transition:  5s;
}